<!-- form -->
<div class="form">
	<%= form_for @user, :url => {:action => "create"} do |f| %>
	  <%= f.error_messages %> 
		<p class="note">Fields with <span class="required">*</span> are required.</p>
		<div class="row">
	      <%= f.label :username %>
	      <%= f.text_field :username %>
		</div>

		<div class="row">
		    <%= f.label :password %>
      		<%= f.password_field :password %>	
		</div>

		<div class="row">
      		<%= f.label :password_confirmation %>
      		<%= f.password_field :password_confirmation %>
		</div>

		<div class="row">
      		<%= f.label :email %>
      		<%= f.text_field :email %>
		</div>

		<div class="row buttons">
			<%= f.submit "Create" %>
		</div>
	<% end %>
</div>
<!-- form -->
