<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en" lang="en">
  <head>
    <title>Puggli</title>
    <!-- blueprint CSS framework -->
    <%= stylesheet_link_tag "screen" %>
    <!--[if lt IE 8] >
      <%= stylesheet_link_tag "ie" %>
    <![endif]-->
    <%= stylesheet_link_tag "default", "form", "jquery-ui-1.8.16.custom" %>
    <%= javascript_include_tag "jquery-1.6.2.min", "jquery-ui-1.8.16.custom.min", "/swfs/swfobject.js" %>
    <script src="http://connect.facebook.net/en_US/all.js"></script>

    <%= csrf_meta_tag %>
    <script>
    $(function(){
        $(".sublinks").hide();
      $('.dropdown').click(function(){
        $('.sublinks').stop(false, true).hide();

        var submenu = $(this).parent().next();

        submenu.css({
          position:'absolute',
          top: $(this).offset().top + $(this).height() + 'px',
          left: $(this).offset().left + 'px',
          zIndex:1000
        });

        submenu.stop().slideDown(300);
        submenu.mouseleave(function(){
        $(this).slideUp(300);
        });
      });
    });
    </script>

  </head>
  <body>
    <div class="container" id="page">
      <!-- header -->
        <div id="header">
          <!-- mainmenu -->
            <div id="mainmenu">
              <!-- menu -->
              <ul id="yw0">
              <li class="active"><%= link_to "Home", :controller => "home" %></li>
              <li>
                <% unless current_user %>
                  <%= link_to "Login", login_url %>
                <% else %>
                  <li><a href="#"  class="dropdown" >Account</a></li>
                  <li class="sublinks">
                                  <%= link_to "Edit Profile",:controller =>"users_info", :action => "index" %>

                                </li>
                  <li><%= link_to "Logout(#{current_user.username})", logout_url %></li>
                <% end %>
              </li>
            </ul>
              <!-- menu -->
            </div>
          <!-- mainmenu -->
          <!-- search -->
            <div id="search">
              <div id="div_search">
                <form name="load_search" id="load_search" method="post">
                    <div id="input_search"><input type="text" name="search_friend" id="search_friend" /></div>
                    <div id="bt_search"><input type="image" src="/images/search_icon.png"/></div>
                </form>
              </div>
            </div>
          <!-- search -->
        </div>
      <!-- header -->
      <!-- navheaderinto -->
        <div id="navheaderinto">
          <!-- logo -->
            <div id="logo"><img src="/images/logo.png" border="0" /></div>
          <!-- logo -->
          <!-- navmenu -->
            <div id="navmenu">
              <!-- menu -->
                <ul id='ywl'>
                  <li><%= link_to "What's up", :controller => "whats_up"%></li>
                  <li><%= link_to "Friends", :controller => "friends" %></li>
                  <li><%= link_to "Live", :controller => "friends", :action => "broadcast" %></li>
                  <li><%= link_to "Photos", "#" %></li>
                  <li><%= link_to "Videos", "#" %></li>
                </ul>
              <!-- menu -->
            </div>
          <!-- navmenu -->
        </div>
      <!-- navheaderinto -->
      <!-- container -->
        <div class="container">
          <div class="clear"></div>
          <!-- content -->
            <div id="content">
              <!-- Flash Notice message -->
                <%- flash.each do |name, msg| -%>
                  <%= content_tag :div, msg, :class => "flash_#{name}" %>
                <%- end -%>
              <!-- Flash Notice message -->
              <div class="col20 sidebar">
                <% if current_user.uid && current_user.provider == "facebook" %>
                  <img src="https://graph.facebook.com/<%= current_user.uid %>/picture?type=large" class="picprofile" />
                <% elsif current_user.uid && current_user.provider == "twitter" %>
                  <img src="http://api.twitter.com/1/users/profile_image?screen_name=<%= current_user.nick_name %>&size=original" class="picprofile" />
                <% else %>
                  <img src="/images/minimalistica/png/128x128/user.png" class="picprofile" />
                <% end %>
                  <div id="men_alerts">
                    <div id="div_face_submenu">
                    <!-- Calendar -->
                      <div id="videos_hover">
                        <div class="div_face_submenu_icon"><img src="/images/calendar_icon_user.png" alt="Calendar"/></div>
                          <div class="div_face_submenu_text">
                            <a href="">Calendar</a>
                          </div>
                        </div>

                        <!-- Request -->
                        <div id="solicitations_hover">
                          <div class="div_face_submenu_icon"><img src="/images/request_icon_user.png" alt="Request" /></div>
                            <div class="div_face_submenu_text">
                              <a href="">Request</a>
                            </div>
                          </div>

                        <!-- Messages -->
                        <div id="messages_hover">
                          <div class="div_face_submenu_icon"><img src="/images/messages_icon_user.png" alt="Messages" /></div>
                          <div class="div_face_submenu_text">
                            <a href="">Messages</a>
                          </div>
                        </div>

                        <!-- Notifications -->
                        <div id="notifications_hover">
                          <div class="div_face_submenu_icon"><img src="/images/notifications_icon_user.png" alt="Notifications" /></div>
                          <div class="div_face_submenu_text">
                            <a href="">Notifications</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="div_add_fip">
                      <div id="div_add_fip_int">
                        <label for="textfield">+ FIP</label>
                        <input type="text" name="add_fip" id="add_fip" maxlength="8" value="888R5ED6"/>
                      </div>
                    </div>
                    <div class="clear"></div>
                    <h5>Invite Friends</h5>
                    <div id="div_invite_friends">
                      <div id="div_invite_friends_int">
                        <form method = "post" action = "/friends/email_invited_friends">
                          <input type="text" name="email[]" id="invite"  value="" class="invite_friends_input"/>
                          <input type="image" src="/images/bt_send_invite.png" width="16" height="16" name="send_invite" id="send_invite" class="invite_friends_bt"/>
                        </form>
                      </div>
                    </div>
                    <div class="clear"></div>
                    <ul>
                      <li><img src="/images/minimalistica/png/16x16/world.png" /> Broadcast </li>
                      <li><img src="/images/minimalistica/png/16x16/users.png" /><a href="#" id="makeFriends">Make Friends</a></li>
                      <li><img src="/images/minimalistica/png/16x16/calendar.png" /></li>
                    </ul>
                  </div>
                  <div class="col60">
                    <div class="col100">
                      <div class="clear"></div>
                      <%= yield %>
                    </div>
                  </div>
                  <div class="col20 sidebar">
                    <h4>Online Users</h4>
                     <% unless @live_user.blank? %>
                      <% @live_user.each do |live| %>
                        <div class="user-grid">
                          <img src="/images/minimalistica/png/32x32/user.png" />
                          <%= link_to live.username, "#" %>
                        </div>
                      <% end %>
                    <% end %>
                 </div>
                </div>
            <!-- content -->
        </div>
      <!-- container -->
      <!-- footer -->
        <div id="footer">
          &copy; 2011, Puggli. All rights reserved.
        </div>
      <!-- footer -->
    </div>
    <!-- page -->
  </body>
</html>
